* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #c4df94;
    font-family: Inter, sans-serif;
}

a {
    color: #fff6e5;
}


header {
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    display: flex;
}

.headlineScroll {
    list-style-type: none;
    align-items: center;
    height: 80px;

    /* LIST PROPERTIES */
    li {
        font-size: 36px;
        font-weight: bold;
        display: inline-block;
        margin-top: 20px;
        font-style: italic;
        color: #fcff3c;
        text-shadow: 1px 1px 2px pink;

        &:nth-child(even) {
            color: #fff6e5;
            font-size: 36px;
            margin-right: 30px;
            margin-left: 30px;
            font-style: italic;
        }
    }
}



.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.info-section-columns {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    animation: scaleUp linear;
    animation-timeline: scroll();
}

.info-section {
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    color: #ffffff;
    font-size: 16px;
    font-family: "gopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 44px;
}

.title {
    display: flex;
    width: 90%;
    height: 45vw;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: none;
    flex-direction: column;
}

.env {
    font-style: italic;
    color: #fcff3c;

    &:hover {
        animation: fade-Out 3s;
    }
}

.what {

    /* i dont know why swing does not work on hover for this class but if i try thr fade out animation it will work ?!?!?!?! */
    &:hover {
        animation: swing 4s ease;
    }
}

h1 {
    font-size: 7vw;
    font-family: "pinecone-mvb", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: white;
    text-shadow: 20px 25px #558ABB;

    animation: bounce-in-right 2s ease;

    &:hover {
        animation: swing 4s ease;
    }

}

.after {

    &:hover {
        animation: wobble 4s ease infinite;
    }
}

h3 {
    font-family: "gopher", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #caccb6;
}



.names {
    font-size: 1.6vw;
    font-family: "gopher", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    padding-bottom: 4vw;
    text-align: center;
}

.greyname {
    font-size: 1.6vw;
    font-family: "gopher", sans-serif;
    font-weight: 700;
    font-style: regular;
    color: #a3a3a3;
    transition: font-size 750ms ease;

    &:hover {
        animation-name: glow;
        animation-duration: 4s;
    }
}

.button {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:after {
    content: "";
    background-color: #fcff3c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button {
        padding: 13px 50px 13px;
    }
}

.date {
    font-size: 2vw;
    font-family: "gopher", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;

    &:hover {
        animation: grow 4s;
    }
}

.mid {
    display: flex;
    width: 100%;
    height: 20vw;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
}

h4 {
    font-family: "gopher", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #90914b;
    font-size: 2vw;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

h4:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

h4:hover:after {
    width: 100%;
    left: 0;
}



.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}

.question {
    display: flex;
    font-size: 3vw;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
    font-family: "Bespoke-yBqAQc5Qoa", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 9px;
    color: #f1ff3f;
    text-shadow: 0.1vw 0.1vw #f4c74b;
    padding-top: 6vw;
    transition: font-size 750ms ease;
    animation-name: grow;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.info {
    font-size: 1.25vw;
}

.free {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
}

.info2 {
    display: flex;
    font-size: 2vw;
    font-family: "owners-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 4px;
    color: white;
    padding-right: 8vw;
}

@-webkit-keyframes glow {
    0% {
        text-shadow: 0 0 10px #ffffff00, 0 0 15px #ffc95600, 0 0 20px #ffc95600, 0 0 25px #ffc95600, 0 0 30px #ffc95600, 0 0 35px #ffc95600, 0 0 40px #ffc95600;
    }

    50% {
        text-shadow: 0 0 5px #ffdf99, 0 0 7.5px #fcff3c, 0 0 10px #fcff3c, 0 0 12.5px #fcff3c, 0 0 15px #fcff3c, 0 0 17.5px #fcff3c, 0 0 20px #fcff3c;
    }

    100% {
        text-shadow: 0 0 10px #ffffff00, 0 0 15px #ffc95600, 0 0 20px #ffc95600, 0 0 25px #ffc95600, 0 0 30px #ffc95600, 0 0 35px #ffc95600, 0 0 40px #ffc95600;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(2);
    }
}

@keyframes fade-Out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        transform: translateX(-30px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}